.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-body {
  background-color: #e56f67;
}

.custom-bg {
  background-color:rgba(231, 203, 126, 0.178);
}

input::placeholder {
 
  background-color:rgba(252, 64, 64, 0.178);
}

.test {
  background-color: aquamarine;
}

.button {
  background-color: #8de2de;
}